@model BookStoreApp.Domain.Entities.Book

@{
    ViewData["Title"] = "Details";
    var authorFullName = ViewBag.AuthorName as string;

}

<div class="container">
    <div class="row mb-4">
        <!-- Book Image and Action Buttons -->
        <div class="col-md-4 d-flex flex-column align-items-center">
            <img src="@Model.imageURL" alt="Book Image" class="img-fluid" style="max-height: 400px; object-fit: cover;padding-top:55px">
            <div class="mt-3">
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <!-- Book Details -->
        <div class="col-md-8">
            <h2>@Model.title</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.isbn)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.isbn)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.totalPages)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.totalPages)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.rating)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.rating)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.price)
                </dd>
                <dt class="col-sm-3">
                    Author
                </dt>
                <dd class="col-sm-9">
                    @authorFullName
                </dd>
            </dl>
        </div>
    </div>

    <!-- Navigation Buttons -->
    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
